<div class=" animated fadeIn">
    <h1>Sobre about</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quia commodi ab quam tempora fugit nisi tempore minus excepturi illo qui vitae, dolore itaque dolores aperiam odio consectetur, molestias aut?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nisi quia beatae ut iusto sed odio quae, suscipit error impedit laudantium in labore praesentium inventore itaque? Quibusdam dignissimos illo explicabo.
    </p>
</div>